NODE_ENV=production
PORT=3000

MONGO_INITDB_ROOT_USERNAME=adm
MONGO_INITDB_ROOT_PASSWORD=adm
MONGO_INITDB_DATABASE=blog_api
MONGO_PORT=27017

USE_IN_MEMORY_DB=false
MONGODB_URI=mongodb://adm:adm@db:27017/blog_api?authSource=admin

JWT_SECRET=your-secret-key
